@charset "utf-8";

body
{
    background-color:#ffffff;
    font-family:"メイリオ","Hiragino Sans",sans-serif;
    color:#333333;
}
header,article,footer{
    width:800;
    margin-left:auto;
    margin-right:auto;
}
h2{
    font-size:22px;
    border-bottom:2px dotted #cc3366;
}
